.input {
  margin-top: 8px;
  background: #ffffff;
  border: 0.5px solid #becad6;
  box-sizing: border-box;
  border-radius: 3px;
  height: 29px;
  font-family: 'Helvetica';
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: -0.192982px;
  color: #3d5170;
  text-indent: 12px;
  width: 100%;
  outline: none;
}
.label {
  font-family: 'Helvetica';
  font-weight: 400;
  font-size: 10.5px;
  line-height: 12px;
  letter-spacing: -0.18421px;
  color: #495057;
}
