@import '../../style//app.scss';
.content-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 59px;
  width: 100%;
  box-shadow: 0px -0.5px 0px #e0e2e8, 0px 0.5px 0px #e0e2e8;
  padding: 14.5px 21px;
  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 150px;
    @media (min-width: 768px) {
      width: 110px;
    }
  }
  &__btn-block {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    @media (min-width: 768px) {
      gap: 15px;
    }
  }
  // &__btn {
  //   right: 0;
  // }
  &__inner {
    width: 100%;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      display: block;
      width: 4px;
      height: 6px;
      right: 15px;
      top: 15px;
      background: url(../../assets/icons/arrow_db.svg) no-repeat;
      @media (min-width: 768px) {
        right: 15px;
        top: 11px;
      }
    }
  }
  &__input {
    position: relative;
    width: 100%;
    height: 38px;
    padding-left: 14px;
    font-family: 'Helvetica';
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: -0.345714px;
    border: 0.5px solid $border;
    border-radius: 4px;
    @media (min-width: 768px) {
      height: 29px;
    }
  }
  &__list {
    display: none;
    position: absolute;
    gap: 19px;
    width: 150px;
    max-height: 220px;
    left: 0;
    padding: 0;
    margin-top: 40px;
    background: $white;
    border: 1px solid $border;
    overflow: auto;
    font-family: 'Helvetica';
    font-size: 14px;
    line-height: 15px;
    letter-spacing: -0.345714px;
    z-index: 5;
    cursor: pointer;
    @media (min-width: 768px) {
      width: 100%;
      gap: 8px;
      font-size: 12px;
      line-height: 13px;
      letter-spacing: -0.345714px;
      max-height: 120px;
      margin-top: 32px;
      border-top: none;
    }
  }
  &__list:hover,
  &__list_open {
    display: flex;
    flex-direction: column;
    padding: 9px 8px 5px;
  }
}
::-webkit-scrollbar {
  width: 6px;
  height: 100%;
  border: 1px solid $border;
}

::-webkit-scrollbar-thumb {
  height: 20px;
  border: 2px solid $border;
  background-clip: padding-box;
  border-radius: 9999px;
  background-color: $border;
}
::-webkit-scrollbar-track {
  margin: 0 30px;
}
