@import '../../style//app.scss';
.button {
  background: $blue;
  height: 45px;
  width: 110px;
  font-family: 'Helvetica';
  font-size: 16px;
  line-height: 13px;
  text-align: center;
  letter-spacing: -0.0821429px;
  color: $white;
  border-radius: 4px;
  border: none;
  @media (min-width: 425px) {
    height: 29px;
    width: 110px;
    font-family: 'Helvetica';
    font-size: 11.5px;
    line-height: 13px;
  }
  &__delite {
    background: $red;
  }
  &:disabled {
    background: $disabled;
    color: $text;
    cursor: not-allowed;
  }
}

.ant-btn,
.ant-btn-link {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 10.5px;
  line-height: 12px;
  letter-spacing: -0.18421px;
  color: $blue;
}
.search-block {
  display: none;
  @media (min-width: 500px) {
    display: flex;
    gap: 9px;
  }
  &__input-search {
    font-family: 'Helvetica';
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: -0.0928572px;
    color: $placeholder;
    outline: none;
    border: none;
  }
}

label.input-file input[type='file'] {
  position: absolute;
  top: -1000px;
}
.input-file {
  position: relative;
  width: 231px;
  padding: 12px 0 8px 11px;
  background: $white;
  border: 0.5px solid $border;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: -0.175439px;
  &:hover {
    border-color: $ligthBlue;
  }
  &:focus {
    border-color: $ligthBlue;
    box-shadow: 0 0 0 2px rgb(24 144 255 / 20%);
    border-right-width: 1px;
    outline: 0;
  }
  &:active {
    border-color: $ligthBlue;
    box-shadow: 0 0 0 2px rgb(24 144 255 / 20%);
    border-right-width: 1px;
    outline: 0;
  }
  &:valid + span {
    color: $text;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: -0.175439px;
  }
  &:invalid + span {
    color: red;
  }
  &::after {
    content: 'Обзор';
    position: absolute;
    top: -1px;
    right: -1px;
    width: 65.5px;
    height: 34px;
    padding-top: 8px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    letter-spacing: -0.175439px;
    border: 1px solid $border;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background: $disabled;
  }
}
