@import '../../style//app.scss';
.filter {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 15px;
  border-bottom: 1px solid $disabled;
  &__filter-buttons {
    display: flex;
    gap: 15px;
  }
  &__filter-buttons {
    display: flex;
    gap: 15px;
  }
}
