@import '../../style//app.scss';
.header {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  height: 68px;
  padding: 14px 5px 14px 28px;
  background: $white;
  box-shadow: 0px 2.5px 9.5px rgba(90, 97, 105, 0.12);
  @media (min-width: 500px) {
    justify-content: space-between;
    padding: 14px 22.5px 14px 28px;
  }
  &__admin-block {
    display: flex;
    align-items: center;
    &:first-child {
      margin-right: 22.5px;
    }
  }
}
.notification {
  display: flex;
  align-items: center;
  width: 69.5px;
  height: 67.5px;
  box-shadow: 0.5px 0px 0px #cacedb, -0.5px 0px 0px #cacedb;
  &__pic {
    transform: translate(116%, 0%);
  }
  &__count {
    position: relative;
    top: 8px;
    left: 15px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    text-align: center;
    font-weight: 600;
    font-size: 9px;
    line-height: 14px;
    background: $red;
    color: $white;
  }
}
.avatar {
  display: block;
  margin-left: 22.5px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.logout-block {
  display: flex;
  flex-direction: column;
  position: relative;
  &__inner-top {
    display: flex;
    gap: 14px;
  }
  &__button-open {
    position: relative;
    width: 109px;
    text-align: start;
    background: transparent;
    border: none;
    &::after {
      content: '';
      top: 19px;
      right: 0;
      position: absolute;
      width: 0;
      height: 0;
      border-left: 4.5px solid transparent;
      border-right: 4.5px solid transparent;
      border-top: 4.5px solid $dark50;
    }
  }
  &__inner-bottom {
    position: absolute;
    bottom: -85px;
    right: -22px;
    width: 111%;
    height: 74px;
    display: flex;
    opacity: 1;
    align-items: center;
    background: white;
    box-shadow: 0px 2.5px 2.5px rgb(90 97 105 / 14%);
    border-radius: 4px;
    transition: all 0.3s ease 0s;
  }
  &__inner-bottom-hidden {
    position: absolute;
    opacity: 0;
  }
  &__button-logout {
    width: 109px;
    margin: 0 auto;
    background: $red;
    color: $white;
    border: 0.5px solid #007bff;
    border-radius: 4px;
    padding: 5px;
  }
}
