@import './null.scss';
@import './shared.scss';
@import './fonts.scss';
body {
  position: relative;
  font-family: 'Helvetica';
  color: $dark100;
  height: 100%;
}
#root {
  width: 100%;
  height: 100%;
  background: $bg;
}
.body {
  position: relative;
  height: 100%;
}

.main {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  @media (min-width: 1024px) {
    height: 100%;
  }
}
.sidebar-btn {
  position: absolute;
  width: 30px;
  z-index: 10;
  top: 22px;
  left: 11px;
  @media (min-width: 768px) {
    display: none;
  }
}
.burger {
  background: $white;
  border: none;
  display: block;
  position: relative;
  width: 30px;
  height: 20px;
  position: relative;
  z-index: 3;
  & span {
    position: absolute;
    background-color: $dark100;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease 0s;
  }
  &::before,
  &::after {
    content: '';
    background-color: $dark100;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  &:before {
    top: 0;
  }
  &:after {
    bottom: 0;
  }
  &.active span {
    transform: scale(0);
  }
  &.active:before {
    transform: rotate(45deg);
    top: 9px;
  }
  &.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
}
.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: $bg;
}
.container {
  padding: 28px 5px 0;
  flex: 1 1 auto;
  @media (min-width: 425px) {
    padding: 28px 28px 0;
  }
}
.logo__block {
  display: flex;
  gap: 11px;
  align-items: center;
  margin-bottom: 15px;
  color: $logo;
  font-family: 'Helvetica';
  font-size: 24px;
  line-height: 28px;
}
.logo-text {
  color: $logo;
  font-family: 'Helvetica';
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.6125px;
}
.title {
  font-weight: 400;
  font-size: 29px;
  line-height: 33px;
  letter-spacing: -0.725px;
  color: $logo;
  &__car {
    margin-bottom: 30px;
  }
}
.subtitle {
  text-align: center;
  font-size: 17.5px;
}
.heading {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 17.5px;
  line-height: 21px;
  letter-spacing: -0.4375px;
  color: $logo;
}
.text {
  font-size: 10.5px;
  line-height: 14px;
  // @media (min-width: 768px) {
  //   font-size: 14px;
  //   line-height: 16px;
  // }
}
.small-text {
  font-family: 'Helvetica';
  font-weight: normal;
  font-size: 10.5px;
  line-height: 12px;
  letter-spacing: -0.18421px;
}
.small-roboto {
  font-family: 'Roboto';
  font-size: 10px;
  line-height: 13px;
  letter-spacing: -0.345714px;
  color: $dark100;
}
.text-bold {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
}
.text-name {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
@media (max-width: 590px) {
  .main {
    padding-left: 0;
  }
}
