$dark100: rgba(18, 18, 18, 1);
$green: #0ec261;
$green20: rgba(14, 194, 97, 0.2);
$gray100: #999999;
$gray50: #eeeeee;
$white: rgb(255, 255, 255);
$bgsidebarOpen: rgba(17, 21, 24, 1);
$bgsidebarclose: rgba(21, 27, 31, 1);
$bgSidebarOpacity: rgba(21, 27, 31, 0.81);

$btngreen: linear-gradient(90deg, #0ec261 2.61%, #039f67 112.6%);
$btngreen10: linear-gradient(90deg, #0b934a 2.61%, #026e47 112.6%);
$btnbright20: linear-gradient(90deg, #076432 2.61%, #013c27 112.6%);

$shadow20: 2px 4px 4px 0px rgba(0, 47, 83, 0.2);
$shadow50: 4px 4px 8px 0px rgba(34, 60, 80, 0.5);
